<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Create My Account</title>
</head>
<style type="">
	section {
		margin: 0 0 0 9px;
	}
	h4 {
		font-size: 1.5rem;
	}
	button {
		padding: 5px 7px;
		cursor: pointer;
	}
</style>
<body>
	<section>
    	<div class="form-container">
    		<div id="form-wrapper" class="card">
    			<h4 align="">Create my account</h4>
    			<form>
    				<label for="username" class="form-items">
    					<span class="form-title">Username:</span>
    					<input type="text" name="username" id="username" class="input-field" placeholder="Username" required>
						<div id="username-error" class="username error"></div><br>
    				</label><br>
    				<label for="password" class="form-items">
    					<span class="form-title">Password:</span>
    					<input type="password" name="password" id="password" class="input-field" placeholder="Password" required>
						<div id="password-error" class="password error"></div>
					</label><br><br>
    				<div class="btn-wrapper">
    					<button type="submit">Create Account</button>
    				</div>
    			</form>
    		</div>
    	</div>
    </section>
</body>
<script type="text/javascript">
	const log = console.log;
	const form = document.querySelector('form');
    const usernameError = document.querySelector('.username.error');
    const passwordError = document.querySelector('.password.error');

    usernameError.style.display = "none";
    passwordError.style.display = "none";

  	form.addEventListener('submit', async (e) => {
    	e.preventDefault();

    	// reset errors
    	usernameError.textContent = '';
    	passwordError.textContent = '';

    	// get values
    	const username = form.username.value;
    	const password = form.password.value;

    	try {
      		const res = await fetch('auth/createme', { 
        		method: 'POST', 
        		body: JSON.stringify({ username, password }),
        		headers: {'Content-Type': 'application/json'}
      		});

      		const data = await res.json();

      		if (data.errors) {
        		usernameError.textContent = data.errors.email;
			    usernameError.style.display = "block";
        		passwordError.textContent = data.errors.password;
			    passwordError.style.display = "block";
      		}

			if (data.user) {
       	 		location.assign('/loginpage');
      		}

    	}
    	catch (err) {
    		const data = await res.json();
      		throw err;
    	}

  	});
</script>
</body>
</html>