<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Work</title>
</head>
<style type="">
	section {
		margin: 0 0 0 9px;
	}
	h4 {
		font-size: 1.8rem;
	}
	.items {
		display: flex;
		flex-direction: column;
	}
	h5 {
		font-size: 1.2rem;
	}
	.items > a {
		text-decoration: none;
		padding-bottom: 9px;
	}
</style>
<body>
	<section>
    	<div class="form-container">
    		<div>
    			<h4 align="center">Welcome to my work API</h4>
    		</div>
    		<div id="software" class="items">
    			<h5>Softwares</h5>
    			<a href="/new_software_page">New Software</a>
    			<a href="/softwares_page">View Softwares</a>
    		</div>
    		<div id="writing" class="items">
    			<h5>Writings</h5>
    			<a href="/new_writing_page">New Writing</a>
    			<a href="/writings_page">View Writings</a>
    		</div>
    		<a href="/auth/logout">Logout</a>

    	</div>
    </section>
</body>
</html>